body {
    background-color: #D1D5DE;
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li.navitem {
    float: left;
}
.navbar{
    font-family: 'Cutive', serif;
}
li.navitem a {
    display: block;
    color: white;
    text-align: center;
    background-color: #333;
    padding: 14px 16px;
    text-decoration: none;
}

li.navitem a:hover {
    background-color: #555;
}

#proyectos-container {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;

}
.proyecto-cuadro{
    border: 1px solid #000;
    color:white;
    padding: 10px;
    margin-bottom: 10px;
    margin: auto;
    margin-right: 100px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    background-color: #4E6075;
    border-radius: 10px;
    width: 200px;
    

}


