body{
    background-color: #D1D5DE;
    font-family: 'Montserrat';
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
       
}

input, select {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 100px;
    padding-left: 10px;
    font-family: 'Montserrat';
    font-weight: bolder;
    position: relative;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
}

#tipo_usuario{
    font-family: 'Montserrat';
    padding-right: 59px;
    font-weight: bold;
    margin-left: -5px;
    width: 290px;
}
button#btnregistro {
    padding: 10px 70px; 
    width: auto; 
    border: none;
    background-color: #3498db;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-size: 20px;

}
button#btnregistro::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid #000000;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
    pointer-events: none;
    opacity: 0;
}

button#btnregistro:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.material-symbols-outlined{
    padding-top:1px;
    color: white;
}
.material-symbols-outlined{
    padding-top:13px;
    color: white;
}
ul.navbar {
    font-family: 'Cutive', serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    font-size: 20px;
}

li.navitem {
    float: left;
    font-weight: lighter;
}

li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navitem a:hover {
    background-color: #555;
}
.material-symbols-outlined{
    float: left;
    padding-top: 19px;
}
footer {
    
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}

footer {
    
    color: #fff;
    padding: 10px;
    text-align: center;
    
}
footer button {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #3498db;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-size: 15px;
}
footer button:hover {
    background-color: #2079b0;
}